# Ignore everything at root level
/*

# Keep git and version control
!.git/
!.gitignore
!.github/

# Keep app-2 (grant-size-app-v2)
!/shiny/
/shiny/*
!/shiny/grant-size-app-v2/

# Keep main quarto report
!ukraine-poolfund-report.html
!ukraine-poolfund-report.qmd

# Keep API report
!API_FINDINGS.md

# Keep raw data
!/Raw-data/
